{% extends "shortener/base.html" %}
{% block content %}
{% load static %}
<ul class="list-group" >
{% for file in list_of_files %}
<li class="list-group-item">
    <form class="form-inline" action="{% url 'shorten' %}" method="post">
    <div class="alert alert-light" role="alert">
    {% if file.is_dir %}
    <img style="height:2em;" src="{% static 'shortener/img/folder.svg' %}">&nbsp;<a href="{% url 'list' file.path %}">{{ file.path }}</a>
    {% else %}
    <img style="height:2em;" src="{% static 'shortener/img/file.svg' %}">&nbsp;{{ file.path }}
    {% endif %}
    </div>
    {% if 'short' in file.attributes %}<div class="alert alert-secondary" role="alert"><a href={{ file.attributes.short }}>{{ file.attributes.short }}</a><a href="{% url 'delete' keyword=file.attributes.keyword %}?path={{ file.path|urlencode }}"><img style="height:2em;" src="{% static 'shortener/img/rubbish-bin.svg' %}"></a></div>{% else %}<div class="alert alert-light" role="alert">{% csrf_token %}<input type="hidden" name="path" value="{{ file.path }}"><input type="string" name="txt" size="4" class="form-control mb-1 mr-sm-1"><button type="submit" class="btn btn-primary mb-2">Shorten me</button></div>{% endif %}</form></li>
{% endfor %}
</ul>
{% endblock %}