Django~=5.2
django-adminplus~=0.6
mailjet-rest~=1.5
mysqlclient~=2.2
pyocclient~=0.6
requests~=2.32
torrent-parser~=0.4
yourls~=1.2

# Optional: for running tests with pytest
pytest~=8.3
pytest-django~=4.9
